/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: night --default, dark --prefersdark;
}

/* Four use of global font url */
@theme {
  --font-montserrat: "Montserrat Alternates", sans-serif;
  --animate-fade-in: fadeIn 0.3s ease-in-out forwards;
  --animate-fade-up: fadeUp 0.3s ease-out forwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


/** For use in local: ttf local in public */
/* @theme {
  --font-montserrat: "Montserrat", "sans-serif";
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/montserrat-alternates/Montserrat-Italic.ttf")
    format("truetype");
}
 */
